{% extends "base.html" %}
{% block title %}扫描{% endblock %}
{% block page_content %}
<div class="page-header">
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	新增扫描
</button>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					添加任务
				</h4>
			</div>
            <form class="form-horizontal" role="form" action="/Target" method="post">
			<div class="modal-body">
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">描述</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="description" name="description"
                               placeholder="请输入目标描述">
                    </div>
                    <input type="text" name="profile_id" value="11111111-1111-1111-1111-111111111111" id="profile_id" style="display: none ">
                    <label for="urls" class="col-sm-2 control-label">扫描目标</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" id="urls" name="urls"
                               placeholder="请输入目标IP">
                        </textarea>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="submit" class="btn btn-primary">
					提交更改
				</button>
			</div>
            </form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<table class="table table-bordered table-hover">
	<caption>扫描目标</caption>
	<thead>
		<tr>
			<th>地址url</th>
			<th>备注描述</th>
			<th>状态</th>
            <th>漏洞</th>
            <th>操作</th>
		</tr>
	</thead>
	<tbody>
     {% for target in targets_info['targets'] %}
         {% if loop.index % 4 ==0  %}
             <tr class="active">
             {% elif loop.index % 4 ==1 %}
             <tr class="success">
             {% elif loop.index % 4 == 2 %}
             <tr  class="warning">
             {% elif loop.index % 4 ==3 %}
             <tr  class="danger">
         {% endif %}
     <td>{{ target['address'] }}</td>
     <td>{{ target['description'] }}</td>
     <td>{% if(target['last_scan_session_status']) %}{{ target['last_scan_date'] }}{% else %}扫描未完成{% endif %}</td>
     <td>
     <button class="btn btn-danger btn-xs text-center " data-toggle="tooltip"  title="高危:{{ target['severity_counts']['high'] }}" >{{ target['severity_counts']['high'] }}</button>
     <button class="btn btn-warning btn-xs text-center " data-toggle="tooltip"  title="中危:{{ target['severity_counts']['medium'] }}">{{ target['severity_counts']['medium'] }}</button>
     <button class="btn btn-info btn-xs text-center " data-toggle="tooltip"  title="低危:{{ target['severity_counts']['low'] }}">{{ target['severity_counts']['low'] }}</button>
     <button class="btn btn-success btn-xs text-center " data-toggle="tooltip"  title="信息:{{ target['severity_counts']['info'] }}">{{ target['severity_counts']['info'] }}</button>
     </td>
     <td>
     <div class="btn-toolbar" role="toolbar">
     <div class="btn-group btn-group-xs">
     <button type="button" class="btn btn-default btn-success "><a href="/target_detail/{{ target['target_id'] }}">编辑</a></button>
     </div>
     <div class="btn-group btn-group-xs">
     <button type="button" class="btn btn-default btn-warning" onclick="del('{{ target['target_id'] }}')" >删除</button>
     </div>

     </div>
     </td>
     {% endfor %}

	</tbody>
</table>
</form>
</div>
{% endblock %}